@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Teko:wght@300&display=swap');

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    padding-top: 50px;
    overflow: hidden;
}


 /* Questions container */

#questions-container {
    background-color: rgba(255, 223, 0, 0.8);
    border-radius: 20px;
    width: 600px;
    overflow: hidden;
 }

 .questions-header {
    padding: 4.5rem;
 }

 h1 {
    padding: 0.3rempx;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 2.5rem;
 }

 ul {
    list-style-type: none;
    padding: 0;
 }

 ul li {
    font-size: 1.4rem;
    font-family: 'Rajdhani', sans-serif;
    margin: 1rem 0;
 }

 ul li label {
    cursor: pointer;
 }


 /* Button */

 button {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: #B22222;
    cursor: pointer;
    color: #fff;
    text-align: center;
 }

 #btn {
    margin: auto;
    margin-bottom: 20px;
 }


 /* Logo and Timer*/

 #logo  {
    padding-bottom: 100px;
}

#timer {
    margin-bottom: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    display: flex;
}

.timer_count {
    margin-left: 20px;
}


/* Index.html paragraph and buttons */

#prg {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.8rem;
}

#buttons {
    display: flex;
}


/* Game rules */

#rules-title {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}

#game-rules {
   background-color: rgba(255, 223, 0, 0.8);
   padding: 20px;
   border-radius: 10px;
   list-style: none;
   overflow: hidden;
   width: 600px;
}

#game-rules li {
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
    color: black;
    
}
